* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}

body {
    background: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.caixa {
    background-color: black;
    opacity: 0.8;
    width: 95%;
    max-width: 450px;
    padding: 30px;
    border-radius: 15px;
    
}

button{
    border: none;
    padding:10px;
    background-color: #353434;
    cursor: pointer;
    border-radius: 360px;
    float: right;
    transition: 0.5s;
}

button:hover{
    background-color: #7c7c7c;
    
}

.lupa{
    width: 20px;
    height: 20px;
    color: #353434;
}

input{
    font-weight: bold;
    font-size: 23px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px;
    background-color: #353434;
    color: white;
    width: calc(100% - 100px);
    
}


.caixa-textos{
    margin-top: 30px;

}

.cidade{
    color: white;
    font-size: 28px;
}

.graus{
    margin-top: 30px;
    color: white;
    font-size: 30px;
}

.umidade{
    color: white;
    font-size: 20px;
    margin-top: 30px;
}

.nuvem{
    margin-top: 30px;
    opacity: 1;
}


